# IntelliJ IDEA files
.idea/
*.iml
out/

# Maven output
target/
pom.xml~

# Log files
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Git specific files
.git/

# .NET / ASP.NET Core
cis-api-dotnet/bin/
cis-api-dotnet/obj/
cis-api-dotnet/*.user
cis-api-dotnet/runner/
cis-api-dotnet/temp/
cis-api-dotnet/*.log

# .NET Test output
cis-api-dotnet/cis-api-dotnet.Tests/bin/
cis-api-dotnet/cis-api-dotnet.Tests/obj/
cis-api-dotnet/cis-api-dotnet.Tests/TestResults/

# Simulator build output
simulator/bin/
simulator/obj/